body{
    background-image: url("/pjbgimg.gif");
    background-repeat: repeat;
    background-size: cover;
    font-family: '華文楷體';
}


.bgImg{
    /* background-color: #ffffff; */
    /* opacity: 0.9; */
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.brand-name{
    font-weight: 900;
}

.nav-button{
    font-weight: 600;
}

.fixed-top{
    padding: 0px;
}

.bg-custom{
    background-color: #b0bec5;
}

.new-record-title{
    height: 100px;
    padding-left: 10%;
    padding-top: 40px;
    margin-top: 80px;
}

.new-record-title h5{
    font-weight: 900;
    color:#1c313a;
    font-size: 1.2rem;
}

.form-row{
    display: flex;
    justify-content: space-evenly ;
}

.new-record-content{
    display: flex;
    justify-content: center;
}

.new-record-patient{
    background-color: #718792;
    padding: 20px;
    font-weight: 600;
    opacity: 1;
    position: relative;
}

.new-record-patient label{
    color: #ffffff;
}

.hkid-row{
    display: flex;
    justify-content: center;
}

.new-record-add-new-patient{
    position: relative;
    left:70%;
}

.new-record-add-new-patient button{
    margin-left: 20px;
}

.new-record-content{
    /* background-color: #ffffff;
    opacity: 0.8;
    width: 100%;
    margin: 0px; */
}

#patient-hkid{
    position: relative;
    /* left: 10%; */
}

.new-record-left{
    margin: 5px;
    width: 50%;
}

.new-record-right{
    margin: 5px;
    width: 50%;
}




/* --------- Below are CSS added by Samuel --------- */


#patient-search{
    padding:8px;
    margin-bottom: 20px;
}

.form-searchBox {
    background-color: #f2f2f2;
    display: block;
    padding: 6px 12px;
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #000000 !important;
}


.medicine-table{
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
    .medicine-table-header{
        background-color: lightgrey;
    }


.search-button{
    text-align: center;
}


/* --- bootstrap datepicker --- */

.datepicker td, .datepicker th {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 0.85rem;
}

.datepicker {
    margin-bottom: 3rem;
}
.input-group {
    border-radius: 30rem;
}

input.form-control {
    border-radius: 30rem 0 0 30rem;
    border: none;
}

input.form-control:focus {
    box-shadow: none;
}

input.form-control::placeholder {
    font-style: italic;
}

.input-group-text {
    border-radius: 0 30rem 30rem 0;
    border: none;
}

.datepicker-dropdown {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

h2{
    text-align: center;
    font-weight: 900;
    color: #1c313a;
    font-size: 2.0rem;
    font-family: 'Noto Serif TC medium';
    font: bold;
}

h5{
    font: bold;
    padding-top:6px;
    padding-bottom:5px;
}

h6{
    color: slategray;
    padding: 1px;
}

.extended-booking-content{
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

#new-booking{
    background-color: transparent;
}

#new-booking.new-booking-button{
    font-size: 3em; 
    position: absolute;
}

.card{
    background-color: black;
}
    