body{
    background-image: url("pjbgimg.gif");
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    font-family: '華文楷體';
}

.brand-name{
    font-weight: 900;
}

.nav-button{
    font-weight: 600;
}

.bg-custom{
    background-color: #b0bec5;
}

#h3h3{
    margin-top: 80px;margin-left: 20px;margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    color:#1c313a;
    font-size: 1.8rem;
    font-family: 'Noto Serif TC';
}
h3{
    font-weight: 900;
    color:#1c313a;
    font-size: 50px;
    font-family: 'Noto Serif TC';
}

.text-control{
    margin-bottom: 15px;border-radius: 5px;margin-left: 5px;box-shadow: 10px 10px 15px rgba(0,0,0,0.25);
}

#btnn{
    margin-top: 20px;margin-bottom: 40px;padding-right: 45px;box-shadow: 10px 10px 15px rgba(0,0,0,0.25);padding-left: 45px;
}

#mbbb-3{
margin-bottom: 1rem ;
max-width: 540px;
box-shadow: 10px 10px 15px rgba(0,0,0,0.25);
border-radius: 15px;
margin-left:3px;
margin-right:3px;
}

.img-fluid{
    margin-right: 10px;border-radius: 5px;
}

#rownogutters{
margin:20px;
border-radius: 5px;
}

.col-md-4{
margin-top: auto;
margin-bottom: auto;
}