body{
    background-image: url("/pjbgimg.gif");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Noto Serif TC';
}

.bgImg{
    /* background-color: #ffffff; */
    /* opacity: 0.7; */
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.brand-name{
    font-weight: 900;
}

.nav-button{
    font-weight: 600;
}

.bg-custom{
    background-color: #b0bec5;
}

.new-record-title{
    background-color: #ffffff;
    opacity: 0.7;
    height: 100px;
    padding-left: 10%;
    padding-top: 40px;
    margin-top: 56px;
}

.new-record-title h1{
    font-weight: 900;
    color:#1c313a;
    font-size: 1.5rem;
}

.form-row{
    display: flex;
    justify-content: space-evenly ;
}

#add-new-row{
    padding: 3px;
    font-size: 0.7em;
}

.easy-autocomplete-container ul li div {
    color: black;
}

.new-record-patient{
    background-color: #718792;
    padding: 20px;
    font-weight: 600;
    opacity: 0.85;
    position: relative;
}

.new-record-patient label{
    color: #ffffff;
    margin-right: 30px;
    margin-bottom: 20px;
}

#patient-age{
    width:190px;
}

.hkid-row{
    display: flex;
    justify-content: center;
}

.find-patient-button {
    position: relative;
    text-align: right;
}

.record-submit-button{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
}

.find-patient-button button{
    margin-left: 20px;
}


#patient-hkid{
    position: relative;
    /* left: 10%; */
}

.show-patient-block{
    background-color: rgba(28, 49, 58, 0.7);
    /* font-size: 0.575em; */
    color: #FFFFFF;
    padding: 5%;
}

.new-record-content {
    display: flex;
    justify-content: space-evenly;
    margin: 0px;
}

.form-white-form{
    background-color: rgba(255, 255, 255, 0.7);
}

.record-submit-form{
    display: flex;
    justify-content: space-around;
}

.new-record-left{
    margin: 5px;
    width: 48%;
}

.new-record-right{
    margin: 5px;
    width: 48%;
}

.form-group label{
    font-size: 1em;
    font-weight: 600;
}

.prescription-row{
    height: 30px;
}


.searchPatientTable { 
    width: 100%; 
    border-collapse: collapse; 
  }
  /* Zebra striping */
  .searchPatientTr:nth-of-type(odd) { 
    background: #484d51; 
  }
  .searchPatientTh { 
    background: #333; 
    color: white; 
    font-weight: bold; 
  }
  .searchPatientTd, .searchPatientTh { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
  }

  /* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.searchPatientTable, .searchPatientThead, #patientResultTable, .searchPatientTh, .searchPatientTd, .searchPatientTr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.searchPatientThead .searchPatientTr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.searchPatientTr { border: 1px solid #ccc; }
	
	.searchPatientTd { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	.searchPatientTd :before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.searchPatientTd:nth-of-type(1):before { content: "病人編號: "; }
	.searchPatientTd:nth-of-type(2):before { content: "病人姓名: "; }
	.searchPatientTd:nth-of-type(3):before { content: "病人性別: "; }
	.searchPatientTd:nth-of-type(4):before { content: "出生日期: "; }
	.searchPatientTd:nth-of-type(5):before { content: "電話號碼: "; }
	.searchPatientTd:nth-of-type(6):before { content: "香港身份證號碼: "; }
	/* td:nth-of-type(7):before { content: "Date of Birth"; }
	td:nth-of-type(8):before { content: "Dream Vacation City"; }
	td:nth-of-type(9):before { content: "GPA"; }
	td:nth-of-type(10):before { content: "Arbitrary Data"; } */
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .new-record-content .new-record-left .new-record-right{
        display:block;
    }

    .new-record-left{
        width: 100%;
    }

    .new-record-right{
        width: 100%;
    }
}