body{
    background-image: url("/pjbgimg.gif");
    background-repeat: repeat;
    background-size: cover;
    font-family: '華文楷體';
}

.modal-backdrop {
    z-index: -2;
}

.bgImg{
    /* background-color: #ffffff;
    opacity: 0.9; */
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.fixed-top{
    padding: 0px;
}

.brand-name{
    font-weight: 900;
}

.nav-button{
    font-weight: 600;
}

.bg-custom{
    background-color: #b0bec5;
}

.new-record-title{
    background-color: #ffffff;
    opacity: 0.7;
    height: 100px;
    padding-left: 10%;
    padding-top: 40px;
    margin-top: 56px;
}

.new-record-title h1{
    font-weight: 500;
    color:#1c313a;
<<<<<<< HEAD
    font-size: 1.5rem;
=======
    font-size: 1.8rem;
    font-family: 'Noto Serif TC';
>>>>>>> e0846f451631d6653d90eb5499ca778844de0e45
}

.form-row{
    display: flex;
    justify-content: space-evenly ;
}

.new-record-content{
    display: flex;
    justify-content: center;
}

.search-patient-container{
    padding: 0px;
}

.search-patient-record{
    background-color: #718792;
    padding: 20px;
    font-weight: 600;
    opacity: 0.85;
    position: relative;
    color: #ffffff;
}

.new-record-patient label{
    color: #ffffff;
}

.easy-autocomplete-container ul li div {
    color: black;
}

.hkid-row{
    display: flex;
    justify-content: center;
}

.new-record-add-new-patient{
    position: relative;
    left:70%;
}

.new-record-add-new-patient button{
    margin-left: 20px;
}

.new-record-content{
    /* background-color: #ffffff;
    opacity: 0.8;
    width: 100%;
    margin: 0px; */
}

#patient-hkid{
    position: relative;
    /* left: 10%; */
}

.new-record-left{
    margin: 5px;
    width: 50%;
}

.new-record-right{
    margin: 5px;
    width: 50%;
}




/* --------- Below are CSS added by Samuel --------- */


#patient-search{
    padding:0px;
    /* margin-bottom: 20px; */
}

.form-searchBox {
    background-color: #f2f2f2;
    display: block;
    padding: 6px 12px;
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    color: #000000 !important;
}

.searchRecordTable{
    padding: 0px;
}


.medicine-table{
    border-color: #ccc;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
}
    .medicine-table-header{
        background-color: lightgrey;
    }