body{
    background-image: url("/cover_pic1.jpg");
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Noto Serif TC';
    background-size: 100%;
    height: 100%;
}

.optgroup {
   margin-top: 20px;
   margin-left: 20px;
}

.bgImg{
    background-color: #ffffff;
    opacity: 0.7;
    position: absolute;
    top: 0;
    padding: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.brand-name{
    font-weight: 900;
}

.nav-button{
    font-weight: 600;
}

.bg-custom{
    background-color: #b0bec5;
}

.new-record-title{
    height: 100px;
    padding-left: 10%;
    padding-top: 40px;
    margin-top: 80px;
}

.new-record-title h5{
    font-weight: 900;
    color:#1c313a;
    font-size: 1.2rem;
}

.form-row{
    display: flex;
    justify-content: space-evenly ;
}

.new-record-content{
    display: flex;
    justify-content: center;
}

.new-record-patient{
    background-color: #718792;
    padding: 20px;
    font-weight: 600;
    opacity: 1;
    position: relative;
}

.new-record-patient label{
    color: #ffffff;
}

.hkid-row{
    display: flex;
    justify-content: center;
}

.new-record-add-new-patient{
    position: relative;
    left:70%;
}

.new-record-add-new-patient button{
    margin-left: 20px;
}

.new-record-content{
    /* background-color: #ffffff;
    opacity: 0.8;
    width: 100%;
    margin: 0px; */
}

#patient-hkid{
    position: relative;
    /* left: 10%; */
}

.new-record-left{
    margin: 5px;
    width: 50%;
}

.new-record-right{
    margin: 5px;
    width: 50%;
}



.card{
    opacity: 0.95 !important;
}

.login-picture{
    /* background-image: url("/cover_pic.jpg"); */
    max-width: 300px;
    text-align: center;
}

#login-panel .card-body{
    box-shadow: 0 26px 38px rgba(0,0,0,0.75), 0 25px 32px rgba(0,0,0,0.72);
}

.login-title{
    font-size: 75px;
    font: large;
    color: goldenrod;
    font-weight: bolder;
    text-shadow: 4.5px 4.5px rgb(1,1,1,1);
    font-family: 'Noto Serif TC';
    text-align: center;
}